:root {
  /* 1 rem is now equal to 10px*/
  font-size: 62.5%;
  font-family: 'Quesha';
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  background-color: #ECF5ED;
  color: white;
  /* opacity: 99%; */
}

#app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}